*{
margin: 0;
padding: 0;
}
body{
    background: url(https://images.unsplash.com/photo-1668584065689-94b73e49994a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
    background-size: 50%;
    background-position: -100px 0px;
}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
div.register{
 background-color: rgba(0,0,0,0.5);
 width: 100%;
 font-size: 18px;
 border-radius: 10px;
 border: 1px solid rgba (255,255,255,0.3);
 box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
 color: #fff;
}
form#register{
    margin: 50px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic
}
input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.3);
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    border-radius: 3px;
    background-color: crimson;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(2555,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
label,span,h2{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}